#api-data {
    padding: 50px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card .card-title{
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    /* margin-top: -80px; */
    height: 40px;

}
